// .section{
//   height: 100vh;
//   background-color: #fff;
//   text-align: center;
//   background-image: url('https://drive.google.com/uc?export=view&id=1vycl3EZMRc5r6EuwCQWgjaryhPsnKIIe');
//   background-repeat: no-repeat;
//   background-attachment: fixed;
//   background-position: center center;
//   background-size: cover;
//   margin: 0px;
//   text-align: center;
//   .sectionHeading{
//     line-height: 6rem;
//     font-weight: 800;
//     font-size: 4rem;
//     color: #fff;
//   }
//   .jumbotron1 {
//     margin: 0px;
//     border-radius: 0px;
//     background: rgba( 0, 0, 0, 0.6);
//     min-height:100vh;
//     width:100%;
//     display: table;
//     .contactContainer{
//       margin: 30px;
//       min-height: 70vh;
//       background: rgba(255, 255, 255, 0.8);
//       padding: 30px;
//       .link{
//         background-color: #fff;
//         z-index: 1;
//         margin: 10px;
//         width: auto;
//         // display: table-cell;
//         // vertical-align: middle;
//         // background-color: #eceff1;
//         padding:25px;
//         border-radius: 70px;
//         // border: 1px solid tomato;
//         display: inline-block;
//         font-size: 4rem;
//         transition: transform .7s ease-in-out;
//         .mat-icon{
//           font-size: 5rem;
//           height: 5rem;
//           width: auto;
//         }
//       }
//     }
//   }
// }

.link :hover{
}
// Extra small devices (portrait phones, less than 576px)
@media screen and (max-width:425px) {
  .section{
    background-color: #fff;
    text-align: center;
    background-image: url('https://drive.google.com/uc?export=view&id=1vycl3EZMRc5r6EuwCQWgjaryhPsnKIIe');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    margin: 0px;
    text-align: center;
    .sectionHeading{
      line-height: 6rem;
      font-weight: 800;
      font-size: 4rem;
      color: #fff;
    }
    .jumbotron1 {
      margin: 0px;
      border-radius: 0px;
      background: rgba( 0, 0, 0, 0.6);
      min-height:100vh;
      width:100%;
      display: table;
      .contactContainer{
        margin: 30px;
        background: rgba(255, 255, 255, 0.8);
        padding: 30px;
        .link{
          background-color: #fff;
          z-index: 1;
          margin: 10px;
          width: auto;
          // display: table-cell;
          // vertical-align: middle;
          // background-color: #eceff1;
          padding:25px;
          border-radius: 70px;
          // border: 1px solid tomato;
          display: inline-block;
          font-size: 4rem;
          transition: transform .7s ease-in-out;
          .mat-icon{
            font-size: 5rem;
            height: 5rem;
            width: auto;
          }
        }
      }
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@media screen and (min-width:425px) {
  .section{
    background-color: #fff;
    text-align: center;
    background-image: url('https://drive.google.com/uc?export=view&id=1vycl3EZMRc5r6EuwCQWgjaryhPsnKIIe');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    margin: 0px;
    text-align: center;
    .sectionHeading{
      line-height: 6rem;
      font-weight: 800;
      font-size: 4rem;
      color: #fff;
    }
    .jumbotron1 {
      margin: 0px;
      border-radius: 0px;
      background: rgba( 0, 0, 0, 0.6);
      min-height:100vh;
      width:100%;
      display: table;
      .contactContainer{
        margin: 30px;
        background: rgba(255, 255, 255, 0.8);
        padding: 30px;
        .link{
          background-color: #fff;
          z-index: 1;
          margin: 10px;
          width: auto;
          // display: table-cell;
          // vertical-align: middle;
          // background-color: #eceff1;
          padding:25px;
          border-radius: 70px;
          // border: 1px solid tomato;
          display: inline-block;
          font-size: 4rem;
          transition: transform .7s ease-in-out;
          .mat-icon{
            font-size: 5rem;
            height: 5rem;
            width: auto;
          }
        }
      }
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media screen and (min-width: 767.98px) {
  .section{
    background-color: #fff;
    text-align: center;
    background-image: url('https://drive.google.com/uc?export=view&id=1vycl3EZMRc5r6EuwCQWgjaryhPsnKIIe');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    margin: 0px;
    text-align: center;
    .sectionHeading{
      line-height: 6rem;
      font-weight: 800;
      font-size: 4rem;
      color: #fff;
    }
    .jumbotron1 {
      margin: 0px;
      border-radius: 0px;
      background: rgba( 0, 0, 0, 0.6);
      min-height:100vh;
      width:100%;
      display: table;
      .contactContainer{
        margin: 30px;
        background: rgba(255, 255, 255, 0.8);
        padding: 30px;
        .link{
          background-color: #fff;
          z-index: 1;
          margin: 10px;
          width: auto;
          // display: table-cell;
          // vertical-align: middle;
          // background-color: #eceff1;
          padding:25px;
          border-radius: 70px;
          // border: 1px solid tomato;
          display: inline-block;
          font-size: 4rem;
          transition: transform .7s ease-in-out;
          .mat-icon{
            font-size: 5rem;
            height: 5rem;
            width: auto;
          }
        }
      }
    }
  }
}

// Medium devices (tablets, less than 992px)
@media screen and (min-width: 991.98px) {
  .section{
    height: 100vh;
    background-color: #fff;
    text-align: center;
    background-image: url('https://drive.google.com/uc?export=view&id=1vycl3EZMRc5r6EuwCQWgjaryhPsnKIIe');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    margin: 0px;
    text-align: center;
    .sectionHeading{
      line-height: 6rem;
      font-weight: 800;
      font-size: 4rem;
      color: #fff;
    }
    .jumbotron1 {
      margin: 0px;
      border-radius: 0px;
      background: rgba( 0, 0, 0, 0.6);
      min-height:100vh;
      width:100%;
      display: table;
      .contactContainer{
        margin: 30px;
        min-height: 70vh;
        background: rgba(255, 255, 255, 0.8);
        padding: 30px;
        .link{
          background-color: #fff;
          z-index: 1;
          margin: 10px;
          width: auto;
          // display: table-cell;
          // vertical-align: middle;
          // background-color: #eceff1;
          padding:25px;
          border-radius: 70px;
          // border: 1px solid tomato;
          display: inline-block;
          font-size: 4rem;
          transition: transform .7s ease-in-out;
          .mat-icon{
            font-size: 5rem;
            height: 5rem;
            width: auto;
          }
        }
      }
    }
  }
}

// Large devices (desktops, less than 1200px)
@media screen and (min-width: 1199.98px) {
  .section{
    height: 100vh;
    background-color: #fff;
    text-align: center;
    background-image: url('https://drive.google.com/uc?export=view&id=1vycl3EZMRc5r6EuwCQWgjaryhPsnKIIe');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    margin: 0px;
    text-align: center;
    .sectionHeading{
      line-height: 6rem;
      font-weight: 800;
      font-size: 4rem;
      color: #fff;
    }
    .jumbotron1 {
      margin: 0px;
      border-radius: 0px;
      background: rgba( 0, 0, 0, 0.6);
      min-height:100vh;
      width:100%;
      display: table;
      .contactContainer{
        margin: 30px;
        min-height: 70vh;
        background: rgba(255, 255, 255, 0.8);
        padding: 30px;
        .link{
          background-color: #fff;
          z-index: 1;
          margin: 10px;
          width: auto;
          // display: table-cell;
          // vertical-align: middle;
          // background-color: #eceff1;
          padding:25px;
          border-radius: 70px;
          // border: 1px solid tomato;
          display: inline-block;
          font-size: 4rem;
          transition: transform .7s ease-in-out;
          .mat-icon{
            font-size: 5rem;
            height: 5rem;
            width: auto;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1441px) {
  .section{
    height: 100vh;
    background-color: #fff;
    text-align: center;
    background-image: url('https://drive.google.com/uc?export=view&id=1vycl3EZMRc5r6EuwCQWgjaryhPsnKIIe');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    margin: 0px;
    text-align: center;
    .sectionHeading{
      line-height: 6rem;
      font-weight: 800;
      font-size: 4rem;
      color: #fff;
    }
    .jumbotron1 {
      margin: 0px;
      border-radius: 0px;
      background: rgba( 0, 0, 0, 0.6);
      min-height:100vh;
      width:100%;
      display: table;
      .contactContainer{
        margin: 30px;
        min-height: 70vh;
        background: rgba(255, 255, 255, 0.8);
        padding: 30px;
        .link{
          background-color: #fff;
          z-index: 1;
          margin: 10px;
          width: auto;
          // display: table-cell;
          // vertical-align: middle;
          // background-color: #eceff1;
          padding:25px;
          border-radius: 70px;
          // border: 1px solid tomato;
          display: inline-block;
          font-size: 4rem;
          transition: transform .7s ease-in-out;
          .mat-icon{
            font-size: 5rem;
            height: 5rem;
            width: auto;
          }
        }
      }
    }
  }
 }
