<div class="section" style="overflow:hidden" id="contact">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 jumbotron jumbotron1">
    <span class="sectionHeading">
      Contact Me
    </span>
    <div fxLayout.gt-lg="row" fxLayout.gt-md="row" fxLayout.gt-sm="row" fxLayout.gt-xs="column" class="contactContainer" fxLayoutAlign="center center">
      <div (click)="goToLink('tel:+919956820045')" class="link">
        <mat-icon>phone</mat-icon>
      </div>
      <div (click)="goToLink('https://wa.me/+919956820045')" class="link">
          <mat-icon>whatsapp</mat-icon>
      </div>
      <div (click)="goToLink('mailto:shashank.shekhar2k17@gmail.com')" class="link">
        <mat-icon>email</mat-icon>
      </div>
      <div (click)="goToLink('https://www.linkedin.com/in/shashankshekhar2k15/')" class="link">
        <mat-icon svgIcon="linkedin"></mat-icon>
      </div>
      <div (click)="goToLink('https://gitlab.com/shashank7861')" class="link">
        <mat-icon svgIcon="gitlab"></mat-icon>
      </div>
      <div (click)="goToLink('https://github.com/sunnyrocks1122')" class="link">
        <mat-icon svgIcon="github"></mat-icon>
      </div>
    </div>
  </div>
</div>
