.mainContainer{
  padding: 60px 10px;
}
// Extra small devices (portrait phones, less than 576px)
@media screen and (max-width:425px) {
}

// Extra small devices (portrait phones, less than 576px)
@media screen and (min-width:425px) {
}

// Small devices (landscape phones, less than 768px)
@media screen and (min-width: 767.98px) {
}

// Medium devices (tablets, less than 992px)
@media screen and (min-width: 991.98px) {
}

// Large devices (desktops, less than 1200px)
@media screen and (min-width: 1199.98px) {

}
// Large devices (desktops, less than 1440px)

@media screen and (min-width: 1441px) {
}
