<div id="home" fxLayout="column" fxLayoutALign="center center" class="mainContainer">
  <div>
    <h2>Dashboard</h2>
    <!-- <div class="row">
      <div class="col-lg-6">
        Stats
      </div>
      <div class="col-lg-6">
        Stats
      </div>
    </div> -->
    <div class="row">
      <div class="col-lg-6">
        <app-column></app-column>
      </div>
      <div class="col-lg-6">
        <app-spline></app-spline>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <app-pie></app-pie>
      </div>
      <div class="col-lg-6">
        <app-spline></app-spline>
      </div>
    </div>
  </div>
</div>
<div class="scrollToTop" (click)="goToTop()">
  <mat-icon>north</mat-icon>
</div>
