@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.head {
  font-family: 'Roboto', sans-serif;
}
.intro {
  background: rgba(26, 35, 126, 0.1);
  padding: 10px;
  border-radius: 10px;
}
.heading {
  background: rgba(26, 35, 126, 0.1);
  /* border-top-left-radius: 10px; */
  padding: 10px 20px;
}
.heading span {
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
}
.profile {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.profile li {
  background: lavender;
  padding: 10px;
  margin: 5px 0px;
}
