<div class="container" id="personal">
  <div class="heading">
    <span>Personal</span>
  </div>
  <div>
    <ul class="profile">
      <li>
        <div>Name</div>
        <div>Shashank Shekhar</div>
      </li>
      <li>
        <div>Designation</div>
        <div>Associate Software Engineer</div>
      </li>
    </ul>
  </div>
</div>
