@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.head {
  font-family: 'Roboto', sans-serif;
}
.intro {
  background: rgba(26, 35, 126, 0.1);

}
.heading {
  // font-family: 'Roboto', sans-serif;
  // font-size: 3rem;
  // line-height: 10rem;
  // background: rgba(26, 35, 126, 0.1);
  // padding: 10px 20px;
}
#home {
  background-image: url('https://drive.google.com/uc?export=view&id=1vycl3EZMRc5r6EuwCQWgjaryhPsnKIIe');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  margin: 0px;
  text-align: center;
}
.jumbotron1 {
  margin: 0px;
  border-radius: 0px;
  background: rgba( 0, 0, 0, 0.6);
  min-height:100vh;
  width:100%;
  display: table;

  .text{
    .main {
      animation: color-change 2s ease-in-out infinite;
        font-weight: 800;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
    }

    @keyframes color-change {
      0% {
        background:-webkit-linear-gradient(#ffafbd , #ffc3a0);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        };
      25% {
        background:-webkit-linear-gradient(#ee9ca7 , #ffdde1);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        };
      50% {
        background:-webkit-linear-gradient(#dd5e89 , #f7bb97
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        };
      75% {
        background:-webkit-linear-gradient(#eecda3 , #ef629f);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        };
      100% {
        background:-webkit-linear-gradient(#ee9ca7 , #ffdde1);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        };
    }
  }
}


.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
  padding: 0px;
  border-radius: 0px;
}


// Extra small devices (portrait phones, less than 576px)
@media screen and (max-width:425px) {
  .text{
    font-size:4em;
    line-height: 1.1em;
    .main {
      animation: color-change 2s ease-in-out infinite;
      font-size:1.1em;
      line-height: 1em;
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@media screen and (min-width:425px) {
  .text{
    font-size:4em;
    line-height: 1.15em;
    .main {
      animation: color-change 2s ease-in-out infinite;
      font-size:1em;
      line-height: 1em;
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media screen and (min-width: 767.98px) {
  .text {
    font-size:7em;
    line-height: 1em;
    .main {
      animation: color-change 2s ease-in-out infinite;
      font-size:1.2em;
      line-height: 1em;
    }
  }
}

// Medium devices (tablets, less than 992px)
@media screen and (min-width: 991.98px) {
  .text{
    font-size:9em;
    line-height: 1em;
    .main {
      animation: color-change 2s ease-in-out infinite;
      font-size:1.25em;
      line-height: 1em;
    }
  }
}

// Large devices (desktops, less than 1200px)
@media screen and (min-width: 1199.98px) {
  .text{
    font-size:10em;
    line-height: 1em;
    .main {
      animation: color-change 2s ease-in-out infinite;
      font-size:1.3em;
      line-height: 1em;
    }
  }
}
@media screen and (min-width: 1441px) {
  .text{
    font-size:15em;
    line-height: 1em;
    .main {
      animation: color-change 2s ease-in-out infinite;
      font-size:1.4em;
      line-height: 1em;
    }
  }
 }
