<div class="row" style="overflow:hidden" id="home">
  <div class="col-lg-12 col-md-12">
    <div class="jumbotron jumbotron1">
      <div class="row" style="display: table-cell; vertical-align: middle;">
        <div class="col-lg-12 col-md-12 col-sm-12 text">
          <div
            style="color:#fff"
            class="animate__animated animate__fadeInLeft animate__delay-1s"
          >
            Meet your next
          </div>
          <div
            style="color:#fff"
            class="animate__animated animate__fadeInRightBig animate__delay-2s"
          >
            <span class="main">UI Developer</span>
          </div>
          <!-- <div
            style="font-size:1.2rem;line-height: 2rem;"
            class="
              intro
              animate__animated animate__fadeInLeft animate__delay-2s
            "
          >
            <span
              style="font-family: 'Roboto', sans-serif;text-align:justify;color:#fff9c4;"
              >Experienced User Interface Developer(Angular 2+) with quick
              learning skill. Developing Web applications for data analysis and
              visualisation. Currently learning and practicing Node.js and
              Python to become a fullstack developer.</span
            >
          </div> -->
        </div>
        <!-- <div class="col-lg-5 col-md-6 col-sm-6" style="text-align:right">
          <img
            class="animate__animated animate__backInDown animate__delay-3s"
            src="https://drive.google.com/uc?export=view&id=16gj7gTrrx_6sdwmDRivpsUzQUbMBWipa"
            style="width:80%; right:0px"
          />
        </div> -->
      </div>
    </div>
  </div>
</div>
