.bg-dark{
  background-color: #000 !important;
  position: absolute;
  width: 100%;
  z-index: 10;
}
.scrollToTop{
  box-shadow: -4px 0px 12px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: -4px 0px 12px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -4px 0px 12px 0px rgba(0,0,0,0.75);
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 10px;
  padding: 13px;
  right: 10px;
  background-color: #fff;
  border-radius: 30px;
  z-index: 20;
}
