<div>
  <app-opening></app-opening>
  <div style="margin:20px"></div>
  <app-skills></app-skills>
  <div style="margin:20px"></div>
  <app-contact></app-contact>
  <div style="margin:20px"></div>
  <app-footer></app-footer>
</div>
<div *ngIf="href=='/'" class="scrollToTop" (click)="goToTop()">
  <mat-icon>north</mat-icon>
</div>
