@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.head {
  font-family: 'Roboto', sans-serif;
}
.intro {
  background: rgba(26, 35, 126, 0.1);
  padding: 10px;
  border-radius: 10px;
}
.heading {
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  line-height: 10rem;
  background: rgba(26, 35, 126, 0.1);
  padding: 10px 20px;
}
#home {
  background-image: url('https://drive.google.com/uc?export=view&id=1vycl3EZMRc5r6EuwCQWgjaryhPsnKIIe');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}
.jumbotron {
  margin: 0px;
  background: rgba(106, 96, 101, 0.7);
}
