.section{
  height: 100vh;
  background-color: #fff;
  text-align: center;
  .sectionHeading{
    line-height: 6rem;
    font-weight: 800;
    font-size: 4rem;
    color: #263238;
    // background:-webkit-linear-gradient(#000 , rgb(131, 131, 255), #7c7c7c);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
  }
  // .skillContainer{
  //   padding: 10px 50px;
  //   .skillList{
  //     margin: 10px 50px;
  //     padding: 5px 40px;
  //     list-style: none;
  //     li{
  //       z-index: 1;
  //       margin: 10px;
  //       padding: 10px;
  //       font-size: 2rem;
  //       line-height: 2.5rem;
  //       font-weight: 800;
  //       text-align: left;
  //       .bar{
  //         padding: 5px 0px;
  //       }
  //     }
  //     li:hover{
  //       margin: 10px;
  //       border-radius: 10px;
  //       padding: 10px;
  //       font-size: 2rem;
  //       line-height: 2.5rem;
  //       font-weight: 800;
  //       text-align: left;
  //       background-color: #eceff1;
  //       .bar{
  //         padding: 5px 0px;
  //       }
  //     }
  //   }
  //   .skillIcon{
  //     padding: 15px 15px;
  //     margin: 10px;
  //     text-align: center;
  //     // display: table;
  //     .item{
  //       background-color: #fff;
  //       z-index: 1;
  //       margin: 10px;
  //       width: auto;
  //       // display: table-cell;
  //       // vertical-align: middle;
  //       // background-color: #eceff1;
  //       padding:25px;
  //       border-radius: 70px;
  //       // border: 1px solid tomato;
  //       display: inline-block;
  //       font-size: 4rem;
  //       transition: transform .7s ease-in-out;
  //       .mat-icon{
  //         font-size: 5rem;
  //         height: 5rem;
  //         width: auto;
  //       }
  //     }
  //     .item:hover{
  //       background-color: #eceff1;
  //       transform: rotate(60deg);
  //     }
  //     .activeSkill{
  //       background-color: #eceff1;
  //       transform: rotate(-60deg);
  //     }
  //   }
  // }
}

.angular{
  ::ng-deep .mat-progress-bar-fill::after {
    background-color: #DD0031;
  }
}
.html{
  ::ng-deep .mat-progress-bar-fill::after {
    background-color: #EC6630;
  }
}
.css{
  ::ng-deep .mat-progress-bar-fill::after {
    background-color: #0096E6;
  }
}
.js{
  ::ng-deep .mat-progress-bar-fill::after {
    background-color: #EEAF4B;
  }
}
.python{
  ::ng-deep .mat-progress-bar-fill::after {
    background-color: #ffc107;
  }
}
.nodejs{
  ::ng-deep .mat-progress-bar-fill::after {
    background-color: #000;
  }
}
.mongo{
  ::ng-deep .mat-progress-bar-fill::after {
    background-color: rgb(73, 157, 74);
  }
}
.docker{
  ::ng-deep .mat-progress-bar-fill::after {
    background-color: rgb(29, 145, 180);
  }
}
.app{
  ::ng-deep .mat-progress-bar-fill::after {
    background-color: #556080;
  }
}


// Extra small devices (portrait phones, less than 576px)
@media screen and (max-width:425px) {
  .section{
    height: auto;
  }
  .skillContainer{
    padding: 10px;
    .skillList{
      margin: 10px;
      padding: 5px 40px;
      list-style: none;
      li{
        z-index: 1;
        margin: 10px;
        padding: 10px;
        font-size: 2rem;
        line-height: 2.5rem;
        font-weight: 800;
        text-align: left;
        .bar{
          padding: 5px 0px;
        }
      }
      li:hover{
        margin: 10px;
        border-radius: 10px;
        padding: 10px;
        font-size: 2rem;
        line-height: 2.5rem;
        font-weight: 800;
        text-align: left;
        background-color: #eceff1;
        .bar{
          padding: 5px 0px;
        }
      }
    }
    .skillIcon{
      padding: 15px 15px;
      margin: 10px;
      text-align: center;
      // display: table;
      .item{
        background-color: #fff;
        z-index: 1;
        margin: 10px;
        width: auto;
        // display: table-cell;
        // vertical-align: middle;
        // background-color: #eceff1;
        padding:25px;
        border-radius: 70px;
        // border: 1px solid tomato;
        display: inline-block;
        font-size: 4rem;
        transition: transform .7s ease-in-out;
        .mat-icon{
          font-size: 5rem;
          height: 5rem;
          width: auto;
        }
      }
      .item:hover{
        background-color: #eceff1;
        transform: rotate(60deg);
      }
      .activeSkill{
        background-color: #eceff1;
        transform: rotate(-60deg);
      }
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@media screen and (min-width:425px) {
  .section{
    height: auto;
  }
  .skillContainer{
    padding: 10px;
    .skillList{
      margin: 10px;
      padding: 5px 40px;
      list-style: none;
      li{
        z-index: 1;
        margin: 10px;
        padding: 10px;
        font-size: 2rem;
        line-height: 2.5rem;
        font-weight: 800;
        text-align: left;
        .bar{
          padding: 5px 0px;
        }
      }
      li:hover{
        margin: 10px;
        border-radius: 10px;
        padding: 10px;
        font-size: 2rem;
        line-height: 2.5rem;
        font-weight: 800;
        text-align: left;
        background-color: #eceff1;
        .bar{
          padding: 5px 0px;
        }
      }
    }
    .skillIcon{
      padding: 15px 15px;
      margin: 10px;
      text-align: center;
      // display: table;
      .item{
        background-color: #fff;
        z-index: 1;
        margin: 10px;
        width: auto;
        // display: table-cell;
        // vertical-align: middle;
        // background-color: #eceff1;
        padding:25px;
        border-radius: 70px;
        // border: 1px solid tomato;
        display: inline-block;
        font-size: 4rem;
        transition: transform .7s ease-in-out;
        .mat-icon{
          font-size: 5rem;
          height: 5rem;
          width: auto;
        }
      }
      .item:hover{
        background-color: #eceff1;
        transform: rotate(60deg);
      }
      .activeSkill{
        background-color: #eceff1;
        transform: rotate(-60deg);
      }
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media screen and (min-width: 767.98px) {
  .section{
    height: auto;
  }
  .skillContainer{
    padding: 10px 50px;
    .skillList{
      margin: 10px 20px;
      padding: 5px 40px;
      list-style: none;
      li{
        z-index: 1;
        margin: 10px;
        padding: 10px;
        font-size: 2rem;
        line-height: 2.5rem;
        font-weight: 800;
        text-align: left;
        .bar{
          padding: 5px 0px;
        }
      }
      li:hover{
        margin: 10px;
        border-radius: 10px;
        padding: 10px;
        font-size: 2rem;
        line-height: 2.5rem;
        font-weight: 800;
        text-align: left;
        background-color: #eceff1;
        .bar{
          padding: 5px 0px;
        }
      }
    }
    .skillIcon{
      padding: 15px 15px;
      margin: 10px;
      text-align: center;
      // display: table;
      .item{
        background-color: #fff;
        z-index: 1;
        margin: 10px;
        width: auto;
        // display: table-cell;
        // vertical-align: middle;
        // background-color: #eceff1;
        padding:25px;
        border-radius: 70px;
        // border: 1px solid tomato;
        display: inline-block;
        font-size: 4rem;
        transition: transform .7s ease-in-out;
        .mat-icon{
          font-size: 5rem;
          height: 5rem;
          width: auto;
        }
      }
      .item:hover{
        background-color: #eceff1;
        transform: rotate(60deg);
      }
      .activeSkill{
        background-color: #eceff1;
        transform: rotate(-60deg);
      }
    }
  }
}

// Medium devices (tablets, less than 992px)
@media screen and (min-width: 991.98px) {
  .skillContainer{
    padding: 10px 50px;
    .skillList{
      margin: 10px 50px;
      padding: 5px 40px;
      list-style: none;
      li{
        z-index: 1;
        margin: 10px 10px;
        padding: 20px;
        font-size: 2rem;
        line-height: 2.5rem;
        font-weight: 800;
        text-align: left;
        .bar{
          padding: 5px 0px;
        }
      }
      li:hover{
        padding: 10px;
        font-size: 2rem;
        line-height: 2.5rem;
        font-weight: 800;
        text-align: left;
        background-color: #eceff1;
        .bar{
          padding: 5px 0px;
        }
      }
    }
    .skillIcon{
      padding: 15px 15px;
      margin: 10px;
      text-align: center;
      // display: table;
      .item{
        background-color: #fff;
        z-index: 1;
        margin: 10px;
        width: auto;
        // display: table-cell;
        // vertical-align: middle;
        // background-color: #eceff1;
        padding:25px;
        border-radius: 70px;
        // border: 1px solid tomato;
        display: inline-block;
        font-size: 4rem;
        transition: transform .7s ease-in-out;
        .mat-icon{
          font-size: 5rem;
          height: 5rem;
          width: auto;
        }
      }
      .item:hover{
        background-color: #eceff1;
        transform: rotate(60deg);
      }
      .activeSkill{
        background-color: #eceff1;
        transform: rotate(-60deg);
      }
    }
  }
}

// Large devices (desktops, less than 1200px)
@media screen and (min-width: 1199.98px) {
  .skillContainer{
    padding: 10px 50px;
    .skillList{
      margin: 10px 50px;
      padding: 5px 40px;
      list-style: none;
      li{
        z-index: 1;
        margin: 10px;
        padding: 10px;
        font-size: 2rem;
        line-height: 2.5rem;
        font-weight: 800;
        text-align: left;
        .bar{
          padding: 5px 0px;
        }
      }
      li:hover{
        margin: 10px;
        border-radius: 10px;
        padding: 10px;
        font-size: 2rem;
        line-height: 2.5rem;
        font-weight: 800;
        text-align: left;
        background-color: #eceff1;
        .bar{
          padding: 5px 0px;
        }
      }
    }
    .skillIcon{
      padding: 15px 15px;
      margin: 10px;
      text-align: center;
      // display: table;
      .item{
        background-color: #fff;
        z-index: 1;
        margin: 10px;
        width: auto;
        // display: table-cell;
        // vertical-align: middle;
        // background-color: #eceff1;
        padding:25px;
        border-radius: 70px;
        // border: 1px solid tomato;
        display: inline-block;
        font-size: 4rem;
        transition: transform .7s ease-in-out;
        .mat-icon{
          font-size: 5rem;
          height: 5rem;
          width: auto;
        }
      }
      .item:hover{
        background-color: #eceff1;
        transform: rotate(60deg);
      }
      .activeSkill{
        background-color: #eceff1;
        transform: rotate(-60deg);
      }
    }
  }
}
@media screen and (min-width: 1441px) {
  .skillContainer{
    padding: 10px 50px;
    .skillList{
      margin: 10px 50px;
      padding: 5px 40px;
      list-style: none;
      li{
        z-index: 1;
        margin: 10px;
        padding: 10px;
        font-size: 2rem;
        line-height: 2.5rem;
        font-weight: 800;
        text-align: left;
        .bar{
          padding: 5px 0px;
        }
      }
      li:hover{
        margin: 10px;
        border-radius: 10px;
        padding: 10px;
        font-size: 2rem;
        line-height: 2.5rem;
        font-weight: 800;
        text-align: left;
        background-color: #eceff1;
        .bar{
          padding: 5px 0px;
        }
      }
    }
    .skillIcon{
      padding: 15px 15px;
      margin: 10px;
      text-align: center;
      // display: table;
      .item{
        background-color: #fff;
        z-index: 1;
        margin: 10px;
        width: auto;
        // display: table-cell;
        // vertical-align: middle;
        // background-color: #eceff1;
        padding:25px;
        border-radius: 70px;
        // border: 1px solid tomato;
        display: inline-block;
        font-size: 4rem;
        transition: transform .7s ease-in-out;
        .mat-icon{
          font-size: 5rem;
          height: 5rem;
          width: auto;
        }
      }
      .item:hover{
        background-color: #eceff1;
        transform: rotate(60deg);
      }
      .activeSkill{
        background-color: #eceff1;
        transform: rotate(-60deg);
      }
    }
  }
 }
