<div class="section" id="skills">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <span class="sectionHeading">
      Tech Skills
    </span>
  </div>
  <div fxLayout.gt-lg="row" fxLayout.gt-md="row" fxLayout.gt-sm="row" fxLayout.gt-xs="column" class="skillContainer">
    <div fxFlex.gt-lg="60" fxFlex.gt-md="60" fxFlex.gt-sm="60" fxFlex.gt-xs="100" fxLayout="column">
      <ul class="skillList">
        <li cdkDrag (mouseover)="activateSkill('angular')" (mouseout)="deactivateSkill()" class="animate__animated animate__lightSpeedInLeft">
          <span style="color: #DD0031;"># Angular</span>
          <div class="bar angular">
            <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
          </div>
        </li>
        <li cdkDrag (mouseover)="activateSkill('html')" (mouseout)="deactivateSkill()" class="animate__animated animate__lightSpeedInLeft">
          <span style="color: #EC6630;"># HTML</span>
          <div class="bar html">
            <mat-progress-bar mode="determinate" value="60"></mat-progress-bar>
          </div>
        </li>
        <li cdkDrag (mouseover)="activateSkill('css')" (mouseout)="deactivateSkill()" class="animate__animated animate__lightSpeedInLeft">
          <span style="color: #0096E6;"># CSS</span>
          <div class="bar css">
            <mat-progress-bar mode="determinate" value="60"></mat-progress-bar>
          </div>
        </li>
        <li cdkDrag (mouseover)="activateSkill('js')" (mouseout)="deactivateSkill()" class="animate__animated animate__lightSpeedInLeft">
          <span style="color: #EEAF4B"># Javascript</span>
          <div class="bar js">
            <mat-progress-bar mode="determinate" value="60"></mat-progress-bar>
          </div>
        </li>
        <li cdkDrag (mouseover)="activateSkill('python')" (mouseout)="deactivateSkill()" class="animate__animated animate__lightSpeedInLeft">
          <span style="color: #ffc107"># Python</span>
          <div class="bar python">
            <mat-progress-bar mode="determinate" value="30"></mat-progress-bar>
          </div>
        </li>
        <li cdkDrag (mouseover)="activateSkill('node')" (mouseout)="deactivateSkill()" class="animate__animated animate__lightSpeedInLeft">
          <span style="color: #000"># NodeJS</span>
          <div class="bar nodejs">
            <mat-progress-bar mode="determinate" value="30"></mat-progress-bar>
          </div>
        </li>
        <li cdkDrag (mouseover)="activateSkill('mongo')" (mouseout)="deactivateSkill()" class="animate__animated animate__lightSpeedInLeft">
          <span style="color: rgb(73, 157, 74)"># MongoDB</span>
          <div class="bar mongo">
            <mat-progress-bar mode="determinate" value="25"></mat-progress-bar>
          </div>
        </li>
        <li cdkDrag (mouseover)="activateSkill('docker')" (mouseout)="deactivateSkill()" class="animate__animated animate__lightSpeedInLeft">
          <span style="color: rgb(29, 145, 180)"># Docker</span>
          <div class="bar docker">
            <mat-progress-bar mode="determinate" value="30"></mat-progress-bar>
          </div>
        </li>
        <li cdkDrag (mouseover)="activateSkill('app')" (mouseout)="deactivateSkill()" class="animate__animated animate__lightSpeedInLeft">
          <span style="color: #556080"># App Deployment</span>
          <div class="bar app">
            <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
          </div>
        </li>
      </ul>
    </div>
    <div fxFlex.gt-lg="40" fxFlex.gt-md="40" fxFlex.gt-sm="40" fxFlex.gt-xs="100">
      <div class="skillIcon" fxLayout="row wrap" fxLayoutAlign="center center">
        <div class="item" cdkDrag [ngClass]="activeSkill === 'angular' ? 'activeSkill': ''">
          <mat-icon svgIcon="angular"></mat-icon>
        </div>
        <div class="item" cdkDrag [ngClass]="activeSkill === 'html' ? 'activeSkill': ''">
          <mat-icon svgIcon="html"></mat-icon>
        </div>
        <div class="item" cdkDrag [ngClass]="activeSkill === 'css' ? 'activeSkill': ''">
          <mat-icon svgIcon="css"></mat-icon>
        </div>
        <div class="item" cdkDrag [ngClass]="activeSkill === 'js' ? 'activeSkill': ''">
          <mat-icon svgIcon="js"></mat-icon>
        </div>
        <div class="item" cdkDrag [ngClass]="activeSkill === 'python' ? 'activeSkill': ''">
          <mat-icon svgIcon="python"></mat-icon>
        </div>
        <div class="item" cdkDrag [ngClass]="activeSkill === 'node' ? 'activeSkill': ''">
          <mat-icon svgIcon="nodejs"></mat-icon>
        </div>
        <div class="item" cdkDrag [ngClass]="activeSkill === 'mongo' ? 'activeSkill': ''">
          <mat-icon svgIcon="mongo"></mat-icon>
        </div>
        <div class="item" cdkDrag [ngClass]="activeSkill === 'docker' ? 'activeSkill': ''">
          <mat-icon svgIcon="docker"></mat-icon>
        </div>
        <div class="item" cdkDrag [ngClass]="activeSkill === 'app' ? 'activeSkill': ''">
          <mat-icon svgIcon="server"></mat-icon>
        </div>
      </div>
    </div>
  </div>

</div>
