/* You can add global styles to this file, and also import other style files */
html{
  scroll-behavior: smooth;
}
html, body { height: 100%; margin: 0px;padding: 0px;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
